

<div class="container mt-6">
  <div class="row detailrow" >
    <div class="col-lg-2 col-md-6 infodetail bldetail">
      <i class="fas fa-truck fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>Free Delivery</strong> from $50</div>
    </div>
    <div class="col-lg-2 col-md-6 infodetail bldetail">
       <i class="far fa-smile-beam fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>99% Positive</strong> Feedbacks</div>
    </div>
    <div class="col-lg-2 col-md-6 infodetail bldetail">
     <i class="fas fa-undo fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>365 days</strong> for free return</div>
    </div>
    <div class="col-lg-2 col-md-6 infodetail bldetail">
     <i class="fas fa-shopping-cart fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>Payment</strong> Secure System</div>
    </div>
    <div class="col-lg-2 col-md-6 infodetail bldetail">
      <i class="fas fa-tags fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>Only Best</strong> Brands</div>
    </div>
    <div class="col-lg-2 col-md-6 infodetail">
      <i class="far fa-smile-beam fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>99% Positive</strong> Feedbacks</div>
    </div>
  </div>
</div>
