<div class="container ">
  <div class="row detailrow" >
    <div class="col-lg-2 col-md-6 infodetail bldetail">
       <i class="far fa-smile-beam fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>99% Feedback</strong> Positivo</div>
    </div>
    <div class="col-lg-2 col-md-6 infodetail bldetail">
     <i class="fas fa-undo fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>Garantía</strong> de fábrica</div>
    </div>
    <div class="col-lg-2 col-md-6 infodetail bldetail">
     <i class="fas fa-shopping-cart fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>Asesoramiento</strong> Personalizado</div>
    </div>
    <div class="col-lg-2 col-md-6 infodetail bldetail">
      <i class="fas fa-tags fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>Las MEJORES</strong> Marcas</div>
    </div>
    <div class="col-lg-2 col-md-6 infodetail bldetail">
     <i class="fas fa-shopping-cart fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>Pagos</strong> Seguros</div>
    </div>
    <div class="col-lg-2 col-md-6 infodetail bldetail">
      <i class="fas fa-tags fa-3x"></i>
      <div class="media-body media-middle feature-text"> <strong>Las MEJORES</strong> Marcas</div>
    </div>
  </div>
</div>
