<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top custom-carets" style="background-color: #fff; margin: 0;">

  <!-- Navbar brand -->
<%= link_to root_path do %>
<%= image_tag("homebeat_logo.png", width: "150") %>
<% end %>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse ml-auto" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav " >
          <!-- Dropdown -->

      <li class="nav-item " >
        <a class="nav-link" aria-haspopup="true"
          aria-expanded="false">Inicio</a>
      </li>

    <li class="nav-item dropdown" >
        <a class="nav-link dptg" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" href="/items">Pro Audio</a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink" style="font-size:1.5em">
          <a class="dropdown-item" href="#">Altavoces de instalacion</a>
          <a class="dropdown-item" href="#">Monitores</a>
          <a class="dropdown-item" href="#">Sistemas completos de PA</a>
          <a class="dropdown-item" href="#">Subwoofers</a>
          <a class="dropdown-item" href="#">Amplificadores y processadores de senal</a>
          <a class="dropdown-item" href="#">Mesas de Mezcla</a>
          <a class="dropdown-item" href="#">Micrófonos</a>
          <a class="dropdown-item" href="#">Audífonos & Monitoreo In Air</a>
          <a class="dropdown-item" href="#">Sistemas Touring</a>
          <a class="dropdown-item" href="#">Cabezas Moviles / Iluminación LED / Lasers / Máquinas de Humo</a>
          <a class="dropdown-item" href="#">Cables & Conectores</a>
          <a class="dropdown-item" href="#">Soporte & Pedestales</a>
        </div>
      </li>


    <li class="nav-item dropdown" >
        <a class="nav-link dptg" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" href="/items">Home Audio</a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink" style="font-size:1.5em">
          <a class="dropdown-item" href="#">Altavoces de instalación</a>
          <a class="dropdown-item" href="#">Subwoofers</a>
          <a class="dropdown-item" href="#">Amplificadores & Receivers</a>
          <a class="dropdown-item" href="#">Audífonos</a>
          <a class="dropdown-item" href="#">Cables & Accesorios</a>
        </div>
      </li>

      <li class="nav-item dropdown" >
        <a class="nav-link dptg" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" href="/items">Corporativo</a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink" style="font-size:1.5em">
          <a class="dropdown-item" href="#">Monitores & Pizarra Interactivas</a>
          <a class="dropdown-item" href="#">Proyectores</a>
          <a class="dropdown-item" href="#">Telones</a>
          <a class="dropdown-item" href="#">Micrófonos</a>
      </div>
      </li>

      <li class="nav-item dropdown" >
        <a class="nav-link dptg" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" href="/items">Audífonos</a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink" style="font-size:1.5em">
          <a class="dropdown-item" href="#">Alámbricos</a>
          <a class="dropdown-item" href="#">Wireless</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dptg" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" href="/items">Accesorios</a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink" style="font-size:1.5em">
          <a class="dropdown-item" href="#">Cables & Conectores</a>
          <a class="dropdown-item" href="#">Soportes</a>
          <a class="dropdown-item" href="#">Pedestales</a>
          <a class="dropdown-item" href="#">Racks</a>
        </div>

      </li>

      <li class="nav-item " >
        <a class="nav-link" aria-haspopup="true"
          aria-expanded="false" href="/items">Tienda</a>
      </li>


<!-- full width navbar -->
<!--
      <li class="nav-item dropdown" >
        <a class="nav-link dptg" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" href="/items">Audifonos</a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink" style="font-size:1.5em">
          <a class="dropdown-item" href="#">Monitores & Pizarra interactivas</a>
          <a class="dropdown-item" href="#">Proyectores</a>
          <a class="dropdown-item" href="#">Telones</a>
          <a class="dropdown-item" href="#">Microfonos</a>
        </div>
      </li> -->

   <form id="search" >
    <input id="field" onfocus="clicked()" onblur="normal()" type="text" placeholder="Buscar" />
    <img onclick="clicked()" id="icon" src="http://www.brambauer.de/img/search.png" >
  </form>

</div>
</nav>
