@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.infodetail{
  text-align: center;
  padding-top:5px;
  padding-bottom:5px;
}

.detailrow{
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
}

.fa-3x{
  color:#45A9E1 !important;
  margin-bottom: 15px;
}

.bldetail{
  border-right: 1px solid gray;
  padding-top: 10px;
}
