@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900i');
.navbar{
  font-family: 'Roboto', sans-serif !important;
}
.active{
  font-weight: bold;
}

.nav-link a{
  padding: 0px 500px;
  font-size: 1.5em;
font-family: 'Roboto', sans-serif;
}

.style_image{
  width:150px;
}

.nav-link{
  text-transform: uppercase !important;
  margin-right: 40px;
}

.navbarlink a{
  padding-left: 40px;
  text-decoration: none !important;
  color: gray !important;
font-family: 'Roboto', sans-serif;

}
.navbar-fixed-top.scrolled {
  background-color: white !important;
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear !important;

  a {
  color: #0A1C58 !important;
  font-weight: 150 !important;
}
}

.navbar-nav > li > a{
  font-size: 1.5em;

}


//search

#search {
  width: 250px;
  height: 27px;
  border-radius: 10px;
  position: absolute;
  top: 39%;
  left:81%;
  // left: 10%;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.3s;
  background-color: lightgray;
  border: none;
}
#search img {
  height: 60%;
  top: 20%;
  position: absolute;
  right: 20px;
  -webkit-filter: invert(1) brightness(10);
  transition: all 0.2s;
}
#search img:hover {
  -webkit-filter: invert(1);
}
#search input {
  height: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  color: gray;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 2;
  font-size: 15px;
  font-weight: 100;
}
#search input:focus {
  outline: none;
}
#search:hover {

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #search{
    display:none !important;
  }
  .nodisplay{
    display:none !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #search{
    display:none !important;
  }
    .nodisplay{
    display:none !important;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #search{
    display:none !important;
  }
    .nodisplay{
    display:none !important;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #search{
    display:none !important;
  }
    .nodisplay{
    display:block !important;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #search{
    display:block !important;
  }
      .nodisplay{
    display:block !important;
  }
}

.friend-logo {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .6;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
}

 .friend-logo:hover {
    filter: grayscale(0%);
    opacity: 1;
    margin-top: -5px;
}

.fa-chevron-left{
  color: #9facb4 !important;
}

.fa-chevron-right{
  color: #9FACB4 !important;
}

.fa-chevron-right:before{
  color: #9FACB4 !important;
}

.fa-chevron-left:before{
  color: #9FACB4 !important;
}

//fullwidth
.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu {
    display:table; width: 100%; text-align: center; left:0; right:0;
}
.dropdown-menu>li {
    display: table-cell;
}


.custom-carets .dptg:after {
font-family: FontAwesome;
content: "\f107";
padding-left: 5px;
}

.custom-carets .dptg > span.caret {
  display: none;
}

.uppercase{
  text-transform: uppercase;
  font-weight: bold;
  color: #383838 !important;

}

.dropdown-item{
  color: #383838 !important;
  font-size: 14px !important;
}

.dropdown-item:hover{
  background-color: #fff !important;
  color: black !important;
}
