
.active{
  font-weight: bold;
}

.nav-link a{
  padding: 0px 500px;
  font-size: 1.5em;
}

.style_image{
  width:150px;
}

.nav-link{
  text-transform: uppercase !important;
  margin-right: 40px;
}

.navbarlink a{
  padding-left: 40px;
  text-decoration: none !important;
  color: gray !important;

}
.navbar-fixed-top.scrolled {
  background-color: white !important;
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear !important;

  a {
  color: #0A1C58 !important;
  font-weight: 150 !important;
}
}

.navbar-nav > li > a{
  font-size: 1.5em;

}

//search

#search {
  width: 250px;
  height: 27px;
  border-radius: 10px;
  position: relative;
  left: 10%;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.3s;
}
#search img {
  height: 60%;
  top: 20%;
  position: absolute;
  right: 20px;
  -webkit-filter: invert(1) brightness(10);
  transition: all 0.2s;
}
#search img:hover {
  -webkit-filter: invert(1);
}
#search input {
  height: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  color: gray;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 2;
  font-size: 20px;
  font-weight: 100;
}
#search input:focus {
  outline: none;
}
#search:hover {

}
#search.open {
  width: 300px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #search{
    display:none !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #search{
    display:none !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #search{
    display:none !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #search{
    display:none !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #search{
    display:block !important;
  }
}

.friend-logo {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .6;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
}

 .friend-logo:hover {
    filter: grayscale(0%);
    opacity: 1;
    margin-top: -5px;
}

.fa-chevron-left{
  color: #9FACB4 !important;
}

.fa-chevron-right{
  color: #9FACB4 !important;
}
